<a href="https://colab.research.google.com/github/muhammadqodir1313/Python-practises/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

hello world chiqarilsin

In [ ]:
print("Hello, World!")
print("this is my not first program in python")

Hello, World!
this is my not first program in python

In [ ]:
print("Hello, I'm your personal chatbot little Kachok.")
name=input("What is your name? ")
print("Nice to meet you "+ name+ " and How can i help you today?")
problem=input()
print("I can help to fix your "+problem+", "+name)

Hello, I'm your personal chatbot little Kachok.
What is your name? Muhammadqodir
Nice to meet you Muhammadqodir and How can i help you today?
boshim ogriyapti
I can help to fix your boshim ogriyapti, Muhammadqodir

Write a function named print_pattern that prints a rectangle pattern of stars (*).

The function should:

Take two parameters: rows and cols (both integers)
Use nested loops to print a rectangle with the given dimensions
Each row should contain cols stars
The pattern should have rows rows in total

In [ ]:
def print_pattern(rows, cols):
    # Write your code here
    for i in range(0, rows):
        for j in range(0, cols):
            print("*", end=" ")
        print()
    pass

# Get input for rows and columns
rows = int(input())
cols = int(input())

# Call the function
print_pattern(rows, cols)

3
4
* * * *
* * * *
* * * *

Write a program that finds all pairs of numbers that multiply to give n using numbers from 1 to n.
The program should show all possible combinations, including duplicate pairs in reverse order. For example, both "1 6" and "6 1" should be shown, as they are considered different arrangements of the same pair. Numbers can also be paired with themselves if their product equals n.

In [ ]:
n = int(input())
# Write your code below
for i in range(1, n+1):
    for j in range(1, n+1):
        if i*j==n:
            print(i, j)

12
1 12
2 6
3 4
4 3
6 2
12 1

Write a program that gets a dynamic number of input values.

The first input is a number that represents the number of the input values following it. The next input values are whole numbers.

In the end, print the sum of all the input numbers (not including the first input).

In [ ]:
n=int(input())
sum=0
for i in range(n):
    a=int(input())
    sum+=a
print(sum)

3
5
1
6
12

Write a program that gets one input, a number. The input number indicates how many times to execute the below function.

Create a function that calculates the sum of all of the numbers between 1 and 10000 (including) and prints it, name the function however you like.

In [ ]:
def sum():
    s=0
    for i in range(1, 10001):
        s+=i
    print(s)

n=int(input())
for i in range(n):
    sum()

5
50005000
50005000
50005000
50005000
50005000

In [ ]:
a, b=map(int, input().split())
if a>b:
  print('>')
elif a<b:
   print('<')
else:
	print('=')

3 5
<

Write a program that receives a number n as input() and executes the function hello_function() n times

In [ ]:
def hello_function():
    print("Hello Function!")

n = int(input())
# Write your code below
for i in range(n):
    hello_function()

5
Hello Function!
Hello Function!
Hello Function!
Hello Function!
Hello Function!

Write a program that takes two numbers as input. These input numbers will be used as arguments for the function described below.

Create a function that gets two arguments, calculates their product, and prints the result. You can name the function as you wish.

Call the function using the input numbers.

In [ ]:
def pro(n1, n2):
    print(n1*n2)
num1=int(input())
num2=int(input())
pro(num1, num2)

3
5
15

Create a program that calculates the area of a rectangle. The program should take two inputs: the length and width of the rectangle.

Define a function that accepts two arguments (length and width), calculates the area of the rectangle (length * width), and prints the result.

After defining the function, prompt the user for the length and width inputs, and then call your function with these inputs.

In [ ]:
def calculate_area(length, width):
    # Write your code below
    print(length*width)

length = float(input())
width = float(input())
# Call the function below
calculate_area(length, width)

3
5
15.0

Create a function called square_number that takes a single parameter n and returns its square. Then, call the function with the input value and store the result in a variable called result. Finally, print the value of result.

In [ ]:
def square_number(n):
    return n*n
n=int(input())
result=square_number(n)
print(result)

5
25

Create a function called cube_number that takes a single parameter n and returns its cube. Then, call the function with the input value and store the result in a variable called result. Finally, print the value of result.

In [ ]:
def cube_number(n):
    # Write you code below
    return n**3
input_num = int(input())
result =   cube_number(input_num)# call the function
print(result)

3
27

Write a function named sigma with one argument that represents a number n.

The function will return the sum of all the numbers from 1 to n (including).

For example, for sigma(5), the function will return 15, because 15 = 1 + 2 + 3 + 4 + 5.

Important! You don't need to call the function we do that for you behind the scenes in a function type challenges.

In [ ]:
def sigma(n):
    s=0
    for i in range(1, n+1):
        s+=i
    return s;
n=int(input())
print(sigma(n))

5
15

Write a function named is_valid that gets two strings arguments, username and password.

The function will return True if the username and password are valid in the system, otherwise False.

Our system contains only two valid usernames - "admin" and "user".

The valid password for username "user" is "qweasd".

For username "admin" any password is valid!

In [ ]:
def is_valid(username, password):
    # Write code here
    if username=='user' and password=="qweasd":
        return 'true'
    elif username=='admin':
        return 'true'
    else:
        return 'false'

username = input()
password = input()
print(is_valid(username, password))

fjmsmij
1
false

FizzBuzz is a simple and classic programming game often used to teach basic logic and control flow. The game involves iterating through numbers from 1 up to a specified limit. For each number:

If the number is divisible by 3, the program outputs "Fizz."

If the number is divisible by 7, it outputs "Buzz."

If the number is divisible by both 3 and 7, it outputs "FizzBuzz."

Otherwise, it simply outputs the number.

This game is an excellent way to practice using loops, conditionals, and modular arithmetic.

---
Add a function named fizzbuzz that gets one number (int) as an argument, and:

If the number is divisible by 3, return "Fizz".

If the number is divisible by 7, return "Buzz".

If the number is divisible by both 3 and 7, return "FizzBuzz".

If none of the above conditions are met, return the number itself in a string format.

After the function:

  Get input and cast it to int

  Call the function fizzbuzz with the input number

  Print the output of the function

  ---
Loop over the numbers from 1 to the number that the user entered, and each time use the function you created to calculate the FizzBuzz result and output it.

---

In [ ]:
def fizzbuzz(n):
    if n%3==0 and n%7==0:
        return 'FizzBuzz'
    elif n%3==0:
        return 'Fizz'
    elif n%7==0:
        return 'Buzz'
    else:
        return str(n)
print('Welcome to FizzBuzz!')
n=int(input())
for i in range(1, n+1):
    print(fizzbuzz(i))

Welcome to FizzBuzz!
7
1
2
Fizz
4
5
Fizz
Buzz

Write a program that receives a list of numbers as input (given), and prints a list of the indices of the numbers that are either below 50 or they are divisible by 5.

In [ ]:
lst = list(map(int, input().split(",")))
# Write your code below
nlst=[]
for i, v in enumerate(lst):
    if int(v)%5==0 or int(v)<50:
        nlst.append(i)
print(nlst)

80,4,99,36,34
[0, 1, 3, 4]

Write a program that receives a list of words as input (given), and prints a list of the indices of the words that are either longer than 3 characters or start with the letter 'a' (case-sensitive).

To check if a string starts with some substring use: str.startswith("substring")

In [ ]:
lst = input().split()
# Write your code below
nlst=[]
for i, v in enumerate(lst):
    if len(v)>3 or v[0]=='a':
        nlst.append(i)
print(nlst)

cat apple dog elephant ant bird
[1, 3, 4, 5]

Create a program that receives a string as input, and it prints how many times the character p (or P) is in the string.

Some chars might be uppercase, use char.lower() to convert it to lowercase.

In [ ]:
text = input()
# Write your code below
s=0
for i in text:
    if i.lower()=='p':
        s+=1
print(s)

Happy people play ping pong
7

Create a program that receives a string as input, and it prints how many times the character s is in the string.

Some chars might be uppercase, use char.lower() to convert it to lowercase.

In [ ]:
text = input()
# Write your code below
s=0
for i in text:
    if i.lower()=='s':
        s+=1
print(s)

Mississippi
4

Write a program that takes two inputs: a text string and a delimiter character. The program should split the text by whitespace into words, then join these words using the specified delimited character and print the resulting string

In [ ]:
text = input()
delimiter = input()
# Write your code below
nt=text.split()
ys=delimiter.join(nt)
print(ys)

adjn ifvni hjndf
#
adjn#ifvni#hjndf

Create a program that takes two inputs: a string of numbers separated by spaces, and a prefix string. The program should split the number string into individual numbers, add the prefix to each number, then join these modified numbers back into a single string separated by spaces. Finally, print the resulting string.

In [ ]:
numbers = input()
prefix = input()
# Write your code below
yn=numbers.split()
for i in yn:
    print(prefix+i, end=' ')

123 456 789
+1
+1123 +1456 +1789

Create a program that receives a list as input (given) and prints the following sliced list (depends on the list length):

For odd-length lists: take the middle item and one item on each side (3 items total)

For even-length lists: take the two middle items

When dividing numbers:

/ gives you a decimal number (5/2 = 2.5)

// removes the decimal part (5//2 = 2)

For this challenge, use // because list slicing only works with whole numbers.

In [ ]:
lst = input().split(",")
# Write your code below
n=len(lst)
if n%2==0:
  n//=2
  print(lst[n-1:n+1])
else:
  n//=2
  print(lst[n-1:n+2])

1,2,3,4,5,6,7,8,9
['4', '5', '6']

Create a program that takes a list and prints:

For lists with 5 or more items: the first two and last two items

For lists with less than 5 items: the first and last item only

In [ ]:
input_list = input().split(', ')
# Write your code below
n=len(input_list)
olst=[]
if n>=5:
    olst.append(input_list[0])
    olst.append(input_list[1])
    olst.append(input_list[n-2])
    olst.append(input_list[n-1])
else:
    olst.append(input_list[0])
    olst.append(input_list[n-1])
print(olst)

10, 20, 30, 40
['10', '40']

Create a program that receives a list as input (given) and prints three new lists based on the following slicing operations:

A list containing every third element, starting from index 1 (the second element)

A list containing all the elements from the 6th element to the 1st in reverse order

A list containing every second element starting from the middle of the list to the end

In [ ]:
lst = input().split(",")
# Write your code below
l1=[]
l2=[]
l3=[]
for i in lst[1::3]:
    l1.append(i)
for j in lst[5::-1]:
    l2.append(j)
for z in lst[len(lst)//2::2]:
    l3.append(z)
print(l1)
print(l2)
print(l3)

red,orange,yellow,green,blue,purple,pink,brown,black,white,gray,violet,indigo,maroon,navy
['orange', 'blue', 'brown', 'gray', 'maroon']
['purple', 'blue', 'green', 'yellow', 'orange', 'red']
['brown', 'white', 'violet', 'maroon']

Create a program that receives a list as input and prints four new lists based on the following slicing operations:

A list containing every fourth element, starting from index 2

A list containing all elements from the 3rd element to the 3rd to last element

A list containing every element in reverse order, skipping every other element

A list containing the first three and last three elements of the original list

Name the lists list1, list2, list3 and list4 - accordingly.

In [ ]:
original_list = input().split(',')
# Write your code below
list1=[]
list2=[]
list3=[]
list4=[]
for i in original_list[2::4]:
    list1.append(i)
for j in original_list[2:-3:]:
    list2.append(j)
for z in original_list[::-2]:
    list3.append(z)
for y in original_list[0:3:1] + original_list[-3::1]:
    list4.append(y)
# Don't change below this line
print("List 1:", list1)
print("List 2:", list2)
print("List 3:", list3)
print("List 4:", list4)

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
List 1: ['3', '7', '11', '15']
List 2: ['3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
List 3: ['15', '13', '11', '9', '7', '5', '3', '1']
List 4: ['1', '2', '3', '13', '14', '15']

Create a program that receives two lists and prints a new list of all elements that are in the first list but NOT in the second list.

In [ ]:
lst1 = input().split(",")
lst2 = input().split(",")
# Write your code below
nlst=[]
for i in range(len(lst1)):
    if lst1[i] not in lst2:
        nlst.append(lst1[i])
print(nlst)

1,2,3,4,5
2,4,6
['1', '3', '5']

You will build a simple program to manage daily expenses.

The user can add, view, and clear expenses, as well as calculate the total and average.

This project reinforces basic programming concepts like lists, loops, and functions in a practical, real-life scenario.

In [ ]:
print("Welcome to the Daily Expense Tracker!")
print()
print("Menu:")
print("1. Add a new expense")
print("2. View all expenses")
print("3. Calculate total and average expense")
print("4. Clear all expenses")
print("5. Exit")

Welcome to the Daily Expense Tracker!

Menu:
1. Add a new expense
2. View all expenses
3. Calculate total and average expense
4. Clear all expenses
5. Exit

Now let's create the actual program!

Create an infinite while loop (refer the hint if not sure how to do so)

In each iteration of the loop, get input from the user, this will be the choice (1 - 5 from the menu)

Handle the first case, if the choice is equal to 5, exit the program (loop) and output:

In [ ]:
print("Welcome to the Daily Expense Tracker!")
print()
print("Menu:")
print("1. Add a new expense")
print("2. View all expenses")
print("3. Calculate total and average expense")
print("4. Clear all expenses")
print("5. Exit")

while True:
    n=int(input())
    if n==5:
        print("Exiting the Daily Expense Tracker. Goodbye!")
        break;

Handle the option where the user adds an expense (1).

Initialize in the start of the program an empty expenses list
When the user selects 1 as a choice, get another input from the user, a float, and add its value to the expenses list.
After adding, output:

In [ ]:
print("Welcome to the Daily Expense Tracker!")
print()
print("Menu:")
print("1. Add a new expense")
print("2. View all expenses")
print("3. Calculate total and average expense")
print("4. Clear all expenses")
print("5. Exit")

while True:
    n=int(input())
    if n==1:
        m=float(input())
        print("Expense added successfully!")
    elif n==5:
        print("Exiting the Daily Expense Tracker. Goodbye!")
        break;

Welcome to the Daily Expense Tracker!

Menu:
1. Add a new expense
2. View all expenses
3. Calculate total and average expense
4. Clear all expenses
5. Exit
1
3.2
Expense added successfully!
1
3.1
Expense added successfully!
5
Exiting the Daily Expense Tracker. Goodbye!

In [ ]:
print("Welcome to the Daily Expense Tracker!")
print()
print("Menu:")
print("1. Add a new expense")
print("2. View all expenses")
print("3. Calculate total and average expense")
print("4. Clear all expenses")
print("5. Exit")
nm=[]
while True:
    n=int(input())
    if n==1:
        m=float(input())
        print("Expense added successfully!")
        nm.append(m)
    elif n==2:
        if len(nm)==0:
            print("No expenses recorded yet.")
        else:
            print("Your expenses:")
            for i in range(0, len(nm)):
                print(f"{i+1}. {nm[i]}")
    elif n==5:
        print("Exiting the Daily Expense Tracker. Goodbye!")
        break;

Welcome to the Daily Expense Tracker!

Menu:
1. Add a new expense
2. View all expenses
3. Calculate total and average expense
4. Clear all expenses
5. Exit
2
No expenses recorded yet.
5
Exiting the Daily Expense Tracker. Goodbye!

andle the option to calculate the total and average expense (3).

If the expenses list is empty, output:

No expenses recorded yet.
Otherwise, output the list in the following format:

Total expense: 600.0

Average expense: 200.0

Assuming the expenses entered before were 300, 200 and 100. (In that order!)

In [ ]:
print("Welcome to the Daily Expense Tracker!")
print()
print("Menu:")
print("1. Add a new expense")
print("2. View all expenses")
print("3. Calculate total and average expense")
print("4. Clear all expenses")
print("5. Exit")
nm=[]
total=0
while True:
    n=int(input())
    if n==1:
        m=float(input())
        print("Expense added successfully!")
        nm.append(m)
    elif n==2:
        if len(nm)==0:
            print("No expenses recorded yet.")
        else:
            print("Your expenses:")
            for i in range(0, len(nm)):
                print(f"{i+1}. {nm[i]}")
    elif n==3:
        if len(nm)==0:
            print("No expenses recorded yet.")
        else:
            for i in range(0, len(nm)):
                total+=nm[i]
                average=total/len(nm)
            print(f"Total expense: {total}, \n Average expense: {average}")
    elif n==5:
        print("Exiting the Daily Expense Tracker. Goodbye!")
        break;

Welcome to the Daily Expense Tracker!

Menu:
1. Add a new expense
2. View all expenses
3. Calculate total and average expense
4. Clear all expenses
5. Exit
3
No expenses recorded yet.
5
Exiting the Daily Expense Tracker. Goodbye!

Handle the option to clear all expenses (4).

After you clear the expenses list, output:

All expenses cleared.

In [ ]:
print("Welcome to the Daily Expense Tracker!")
print()
print("Menu:")
print("1. Add a new expense")
print("2. View all expenses")
print("3. Calculate total and average expense")
print("4. Clear all expenses")
print("5. Exit")
nm=[]
total=0
while True:
    n=int(input())
    if n==1:
        m=float(input())
        print("Expense added successfully!")
        nm.append(m)
    elif n==2:
        if len(nm)==0:
            print("No expenses recorded yet.")
        else:
            print("Your expenses:")
            for i in range(0, len(nm)):
                print(f"{i+1}. {nm[i]}")
    elif n==3:
        if len(nm)==0:
            print("No expenses recorded yet.")
        else:
            for i in range(0, len(nm)):
                total+=nm[i]
                average=total/len(nm)
            print(f"Total expense: {total}\nAverage expense: {average}")
    elif n==4:
        nm.clear()
        print("All expenses cleared.")
    elif n==5:
        print("Exiting the Daily Expense Tracker. Goodbye!")
        break;

Welcome to the Daily Expense Tracker!

Menu:
1. Add a new expense
2. View all expenses
3. Calculate total and average expense
4. Clear all expenses
5. Exit
1
124
Expense added successfully!
4
All expenses cleared.
2
No expenses recorded yet.
3
No expenses recorded yet.
5
Exiting the Daily Expense Tracker. Goodbye!

Lastly, handle the option where the choice of the user is not in the range 1 to 5. Output:

Invalid choice. Please try again.

In [ ]:
print("Welcome to the Daily Expense Tracker!")
print()
print("Menu:")
print("1. Add a new expense")
print("2. View all expenses")
print("3. Calculate total and average expense")
print("4. Clear all expenses")
print("5. Exit")
nm=[]
total=0
while True:
    n=int(input())
    if n==1:
        m=float(input())
        print("Expense added successfully!")
        nm.append(m)
    elif n==2:
        if len(nm)==0:
            print("No expenses recorded yet.")
        else:
            print("Your expenses:")
            for i in range(0, len(nm)):
                print(f"{i+1}. {nm[i]}")
    elif n==3:
        if len(nm)==0:
            print("No expenses recorded yet.")
        else:
            for i in range(0, len(nm)):
                total+=nm[i]
                average=total/len(nm)
            print(f"Total expense: {total}\nAverage expense: {average}")
    elif n==4:
        nm.clear()
        print("All expenses cleared.")
    elif n==5:
        print("Exiting the Daily Expense Tracker. Goodbye!")
        break;
    else:
        print("Invalid choice. Please try again.")

Welcome to the Daily Expense Tracker!

Menu:
1. Add a new expense
2. View all expenses
3. Calculate total and average expense
4. Clear all expenses
5. Exit
1
13
Expense added successfully!
0
Invalid choice. Please try again.
5
Exiting the Daily Expense Tracker. Goodbye!

Each test case has one input - an odd whole number (always odd, given).

Your task is to print n - pyramid using *

In [ ]:
n = int(input())
for i in range(1, n+1):
    if i%2!=0:
        print("*"*i)

11
*
***
*****
*******
*********
***********

Output N first rows of Pascal's triangle by the given number N of rows. Use standard input stream and standard output stream for data input and output, respectively. Check the correctness of the input data.

Input: Integer, number of rows.

Output: Integer numbers, Pascal's triangle.

In [ ]:
import math
n = int(input())
for i in range(1, n+1):
        print(math.factorial(n)/(math.factorial(i)*math.factorial(n-i)))

3
3.0
3.0
1.0

 Create a function that takes two parameters of string type which are fractions with the same denominator and returns a sum expression of these fractions and the sum result.

>Epam pyhon practice

In [ ]:
def get_fractions(a_b: str, c_b: str) -> str:
    a=a_b.split('/')
    c=c_b.split('/')
    m=int(a[0])+int(c[0])
    n=str(m)+"/"+a[1]
    return a_b+" "+"+"+" "+c_b+" "+"="+" "+n

1/3
5/3

'1/3 + 5/3 = 6/3'

Implement a function get_longest_word(s: str) -> str which returns the longest word in the given string. The word can contain any symbols except whitespaces (' ', '\n', '\t' and so on). If there are multiple longest words in the string with the same length return the word that occurs first.
>Epam python practise

In [ ]:
def get_longest_word( s: str) -> str:
    ls=s.split()
    max_l=0
    for i in ls:
        if len(i)>max_l:
            max_l=len(i)
            lw=i
    return lw

simple\nand\teffective!

'simple\\nand\\teffective!'


Implement a function that receives a string and replaces all " symbols
with ' and vice versa.

In [ ]:
def replacer(s: str) -> str:
    n=""
    for i in s:
      if i=="\'":
        n+="\""
      elif i=="\"":
        n+="\'"
      else:
        n+=i
    return n
s=input()
replacer(s)

salom"

"salom'"

Write a function that checks whether a string is a palindrome or not. The usage of any reversing functions is prohibited.

To check your implementation you can use strings from here

Examples:

A dog! A panic in a pagoda!

Do nine men Interpret? Nine men I nod

T. Eliot, top bard, notes putrid tang emanating, is sad; I'd assign it a name: gnat dirt upset on drab pot toilet.

A man, a plan, a canal  Panama!

In [ ]:
def check_str(s: str):
    s = "".join(ch.lower() for ch in s if ch.isalnum())
    return s==s[::-1]

A man, a plan, a canal  Panama!

True

In [ ]:
from typing import List, Tuple

def sort_unique_elements(str_list: Tuple[str, ...]) -> List[str]:
    # TODO: Add your code here
    return sorted(set(str_list))

In [ ]:
from typing import Union, List

ListType = List[Union[int, str]]


def get_fizzbuzz_list(n: int) -> ListType:
    result: ListType = []
    for i in range(1, n + 1):
        if i % 3 == 0 and i % 5 == 0:
            result.append("FizzBuzz")
        elif i % 3 == 0:
            result.append("Fizz")
        elif i % 5 == 0:
            result.append("Buzz")
        else:
            result.append(i)
    return result
n=int(input())
get_fizzbuzz_list(n)

5

[1, 2, 'Fizz', 4, 'Buzz']

In [ ]:
vec1 = list(map(float, input().split()))
vec2 = list(map(float, input().split()))
scalar_product = sum(a * b for a, b in zip(vec1, vec2))
print(scalar_product)

1.0 2.0 3.0
4.0 5.0 6.0
32.0

In [ ]:
from typing import List


def foo(nums: List[int]) -> List[int]:
    sum=1
    nlst = []
    for i in range(0, len(nums)):
        sum*=nums[i]
    for i in range(0,len(nums)):
        nlst.append(sum//nums[i])
    return nlst

[120, 60, 40, 30, 24]

# Data Types. Tuples. Task 1

Implement a function `get_tuple(num: int) -> Tuple[int]` which returns a tuple of a given integer's digits.

__Example:__
```python
>>> get_tuple(87178291199)
(8, 7, 1, 7, 8, 2, 9, 1, 1, 9, 9)
```

In [ ]:
from typing import Tuple

def get_tuple(num: int) -> Tuple[int]:
    ltuple = []
    while num > 0:
        i=num%10
        ltuple.append(i)
        num=num//10
    ltuple.reverse()
    tuple_var = tuple(ltuple)
    return tuple_var

# Data Types. Tuples. Task 2

Implement a function `get_pairs(lst: List) -> List[Tuple]` which returns a list
of tuples containing pairs of elements. The pairs should be formed as in the
example. If there is only one element in the list, return `[]` instead.

__Example:__
```python
>>> get_pairs([1, 2, 3, 8, 9])
[(1, 2), (2, 3), (3, 8), (8, 9)]
>>> get_pairs(['need', 'to', 'sleep', 'more'])
[('need', 'to'), ('to', 'sleep'), ('sleep', 'more')]
>>> get_pairs([1])
[]
```

Kadrlar bo'limida ish haqqini somda oladigan 3 nafar xodim ishlaydi. Ulardan eng yuqori maosh oluvchining maoshi eng kam maosh oluvchidan qancha farq qilishini aniqlash talab etiladi.

In [ ]:
a,b,c=map(int, input().split())
if a<b:
  temp=b
  b=a
  a=temp
if b<c:
  temp=c
  c=b
  b=temp
if a<b:
  temp=b
  b=a
  a=temp
print(a-c)

	 963 487 847
476

Sizga ASCII jadvalidan bitta belgi beriladi siz uning u jadvaldan nechanchi o'rinda turishini yoping.

In [ ]:
m=input()
print(ord(m))

a
97

In [ ]:
def compare_char_by_char(s1, s2):
    min_len = min(len(s1), len(s2))
    differences = []
    for i in range(min_len):
        if s1[i] != s2[i]:
            if len(s1) > len(s2):
              differences.append(s1(i))
            else:
              differences.append(s2[i])

    return differences

s1 = "abcdefg"
s2 = "abcdfg"

print(compare_char_by_char(s1, s2))

TypeError: 'str' object is not callable

Data Types. Dictionaries. Task 1.
Write a Python program to count the frequency of each character in a string (ignore the case of letters).

Example:

Input: 'Oh, it is python'

Output: {" ": 3, ",": 1, "h": 2, "i": 2, "n": 1, "o": 2, "p": 1, "s": 1, "t": 2, "y": 1}

In [ ]:
from typing import Dict


def get_dict(s: str) -> Dict[str, int]:
    # TODO: Add your code here
    s=s.lower()
    d={}
    for i in s:
        if i in d:
            d[i]+=1
        else:
            d[i]=1
    return d

qwertyuioqwertyu   qwert

{'q': 3,
 'w': 3,
 'e': 3,
 'r': 3,
 't': 3,
 'y': 2,
 'u': 2,
 'i': 1,
 'o': 1,
 ' ': 4}

Write a Python program to count the frequency of each word in a sentence (case-insensitive).
Input: "This is a test This is only a test"
Output: {'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}

In [ ]:
from typing import Dict
def get_dict(s: str) -> Dict[str, int]:
    # TODO: Add your code here
    d={}
    s=s.lower()
    s=s.split()
    for i in s:
      if i in d:
        d[i]+=1
      else:
        d[i]=1
    return d

this is mi first this

{'this': 2, 'is': 1, 'mi': 1, 'first': 1}

Write a Python program that takes a list of numbers and creates a dictionary showing each number and its square.

Input: [2, 3, 4, 5]

Output: {2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
from typing import Dict


def get_dict(s: str) -> Dict[str, int]:
    d={}
    # TODO: Add your code here
    s=s.split()
    for i in s:
      d[i]=int(i)*int(i)
    return d
s=input()
get_dict(s)

1 2 3 4 5 6

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36}

In [ ]:
def remove(s, i):
    # Write code here
    s=s.replace(i, "")
    return s
s=input()
i=int(input())
print(remove(s, i))

Example
3

TypeError: replace() argument 1 must be str, not int

In [ ]:
def create_student_dict(name, age, major):
    # Write code here
    dict={
        "name":name,
        "age":age,
        "major":major
    }
    return dict
name=input()
age=int(input())
major=input()
print(create_student_dict(name, age, major))

men
20
cs
{'name': 'men', 'age': 20, 'major': 'cs'}

In [ ]:
def create_book_dict(title, author, year):
    # Write code here
    dict={
        "title":title,
        "author":author,
        "year":year
    }
    return dict

In [ ]:
def get_capital(country_capitals, country_name):
    # Write code here
    return country_capitals[country_name]
dict={"Norway": "Oslo", "Sweden": "Stockholm", "Denmark": "Copenhagen"}
countr_name="Norway"
print(get_capital(dict, countr_name))

Oslo

You are managing a digital recipe book where each recipe is stored as a dictionary. Each dictionary contains the name of the recipe as the key and a list of ingredients as the value. Your task is to perform several operations to update and manage the recipe book.

Create the Recipe Book:
Create a dictionary named recipe_book with the following recipes:

"Pancakes": ["flour", "milk", "eggs", "sugar"]

"Salad": ["lettuce", "tomato", "cucumber", "olive oil"]

Access Ingredients:
Print the list of ingredients for "Pancakes".
Add a New Recipe:

Add a new recipe "Smoothie" with the ingredients ["banana", "milk", "honey"] to the dictionary.

Modify a Recipe:

Add "blueberries" to the "Smoothie" recipe.
Print All Recipes:

Print the entire recipe_book dictionary to verify the updates.

In [ ]:
# Write code here
recipe_book={
    "Pancakes":["flour", "milk", "eggs", "sugar"],
    "Salad":["lettuce", " tomato", "cucumber", "olive", "oil"]
}
print(recipe_book["Pancakes"])
recipe_book["Smothie"]=["banana", "milk", "honey"]
recipe

In [ ]:
#  17. Bir xil harflar ketma-ketligini qisqartirish

# Foydalanuvchidan satrni olish
s = input("Satrni kiriting: ")

natija = ""

# Har bir belgini tekshirish
for i in range(len(s)):
    # Agar bu birinchi belgi bolsa yoki avvalgisidan farq qilsa
    if i == 0 or s[i] != s[i - 1]:
        natija += s[i]

print("Natija:", natija)

Satrni kiriting: aabbccaa
Natija: abca

# Data Types. Final task 1

Write a Python program to print all the unique values of all the dictionaries in a list.

__Example__:
```
Input: [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
Output: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [ ]:
from typing import Any, Dict, List, Set

def check(lst: List[Dict[Any, Any]]) -> Set[Any]:
    nd=set()
    for i in lst:
      for key, value in i.items():
          nd.add(value)
    return nd

{'S001', 'S002', 'S005', 'S007', 'S009'}

In [ ]:
arr = [1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120]

brr = [1, 2, 3, 5, 8, 4, 3, 7, 10, 17, 9, 8, 17, 7, 24, 22, 19, 14, 24, 20, 17, 28, 27, 19, 19, 29, 21, 23, 17, 31, 30, 34, 37, 35, 27, 35, 44, 43, 24, 31, 46, 41, 33, 29, 35, 37, 54, 55, 46, 29, 48, 41, 53, 58, 48, 52, 73, 44, 54, 53, 62, 61, 51, 67, 73, 59, 51, 65, 62, 46, 72, 64, 82, 65, 66, 86, 80, 58, 84, 79, 64, 98, 72, 89, 80, 97, 69, 94, 73]

a = int(input())
if a >= 3 :
    p = '-'
    brr.reverse()
    k=1
else:
    p = "+"
    k=0
print(p)
b=int(input())
for i in range(len(brr)):
    if a == brr[i] and b == brr[i+1]:
        if k:
            print(arr[len(arr)-i-1])

        else:
            print(arr[i])

2
+
3
2

# Data Types. Final task 2

Write a program which makes a pretty print of a part of the multiplication table.

__Example__:
```
Input:
row_start = 2
row_end = 4
column_start = 3
column_end = 7

Output: [[6, 8, 10, 12, 14], [9, 12, 15, 18, 21], [12, 16, 20, 24, 28]]
that is equal to the following multiplication table:

    3   4   5   6   7   
2   6   8   10  12  14  
3   9   12  15  18  21  
4   12  16  20  24  28

In [ ]:
from typing import List

def check(row_start:int, row_end:int, column_start:int, column_end:int) -> List[List[int]]:
  mx=[]
  for i in range(row_start, row_end+1):
    mn=[]
    for j in range(column_start, column_end+1):
      mn.append(i*j)
    mx.append(mn)
  return mx

row_start = 2
row_end = 4
column_start = 3
column_end = 7
print(check(row_start, row_end, column_start, column_end))

[[6, 8, 10, 12, 14], [9, 12, 15, 18, 21], [12, 16, 20, 24, 28]]

In [ ]:
n=int(input())
s=0
for i in range(2, int(n**(1/2))+1):
  if n%i==0:
    s=i
    break
if s>0:
  print(1,s,n//s)
else:
  print(-1)

123
1 3 41

In [ ]:
n=int(input())
count = 'a'
if len(str(n)) % 2 == 0:
  count = 'b'
if count == 'a':
  for i in str(n):
    if i in "24680":
      count = 'b'
if count == 'a':
  print("YES")
else:
  print("NO")

123
NO

In [ ]:
z=int(input())
c=0
if z==0:
  print(-1)
else:
    n=z if z>0 else -z
    for i in range(1, int(n**(1/2))+1):
        if n%i==0:
            c += 1
            if i*i!=n:
                c += 1
    if c%2==1 and z>0:
        res=c+1
    else:
        res=c
    print(res)

-36
9

In [ ]:
n=int(input())
a=[0,1]
for i in range(2,46):
  a.append(a[i-1]+a[i-2])
print(2*a[n])

5
10

In [ ]:
n=int(input())
print(lst)

5
1 2 3 4 5 6 76
[1, 2, 3, 4, 5, 6, 76]

In [ ]:
print((int(input())//2+1))

4
3

In [20]:
n=int(input())
k=int(input())
if n%k==0:
  print(round(n/k))
else:
  print(1+(n//k))

1
2

In [27]:
n=int(input())
m=int(input())
print(m-n+1)

2
8
7

In [31]:
n=int(input())
if n==1 or n==10:
  print("VIP 210K")
elif n==8 or n==9:
  print("Business 140K")
else:
  print("Econom 105K")

0
Econom 105K